<div class="jumbtron text-center">
    <h1 >
        Welcome to Mean Stack Project
    </h1>
    <p>
        Welcome to Mean Stack Project 2020
    </p>
    <a [routerLink]="['/register']" class="btn btn-sm btn-primary " style="margin-right: 10px;">register</a>
    <a [routerLink]="['/login']" class="btn btn-sm btn-outline-secondary">login</a>
</div>
<div class="row " style="padding-top: 20px !important;">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
           
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
      
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
          
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  
  </div>